<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: orange;text-align:center;">
<h1 style="color:blue;">WELCOME TO  OUR COLLEGE</h1>
<h3><a href="/student/application/">Student Application</a><br></h3>
<h3><a href="/student/registration/">Student Registration</a><br></h3>
<h3><a href="/student/student_login/">Student Login</a><br></h3>
<h3><a href="/student/staff_registration/">Staff Registration</a><br></h3>
<h3><a href="/student/staff_login/">Staff Login</a></h3>


</body>
</html>